
/* ADMINISTRACION DE PRODUCTOS */

.tarjeta-listado {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.tarjeta-administracion{
    border-radius: 8px;
    padding: 15px 15px 40px 15px;
    margin: 10px 10px 30px 15px;
    width: 100%;
    max-width: 200px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta-administracion img {
    max-height: 200px;
    border-radius: 4px;
}

.tarjeta-administracion h2 {
    font-size: 20px;
    margin: 10px 0 5px;
}

.tarjeta-administracion p {
    font-size: 15px;
}

.tarjeta-administracion span {
    font-size: 12px;
}

.tarjeta-administracion:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(68, 68, 68, 0.521);
}
/* MODAL ADMINISTRACION */
.modal-administracion{
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    width: 600px;
    max-width: 90%;
    margin: 20px;
}

.form-modal-administracion {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px 20px;
    font-size: 14px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: 600;
}

.form-group input,
.form-group select {
    padding: 6px;
}

.form-actions {
    grid-column: 1 / -1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

.button-form{
    background:#ffffff;
    color: rgb(0, 0, 0);
    cursor: pointer;
    box-shadow: rgb(73, 73, 73) 0 0 8px;
    border: 2px solid #fcfcfc;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
    gap: 5px;
    overflow-y: visible;
}

.button-form:hover {
    background-color: #0099CC;
    color: hsl(0, 0%, 100%);
    box-shadow: #0099CC;
}
