
/* ADMINISTRACION DE PRODUCTOS */

.tarjeta-listado{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px; 
}

.tarjeta-administracion{
    border-radius: 8px;
    padding: 15px 15px 40px 15px;
    margin: 10px 10px 30px 15px;
    width: 10px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta-administracion img {
    max-height: 240px;
    border-radius: 4px;
}

.tarjeta-administracion h3 {
    font-size: 22px;
    margin: 10px 0 5px;
}

.tarjeta-administracion p {
    font-size: 18px;
}

.tartarjeta-administracion span {
    font-size: 18px;
}

.modal-administracion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-administracion td{
    font-size: 15px;
    margin: 0;
}

/* BOTONES ADMINISTRACION */

.button-administracion{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.button-administracion-editar{
    background:#F0F4F5;
    color: black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
}

.button-administracion-editar:hover{
    background-color: #0099CC;
    transition: all 0.5s ease;
    color: hsl(0, 0%, 100%);
    box-shadow: #0099CC;
}

.button-administracion-eliminar{
    background:#c82828;
    color:white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
}

.button-administracion-eliminar:hover{
    background-color: #85170f;
    transition: all 0.5s ease;
    color: hsl(0, 0%, 100%);
    box-shadow: #85170f;
}

