
/* ADMINISTRACION DE PRODUCTOS */

.table-administracion {
    margin: 20px;
    max-width: 90%;
    
}

.modal-administracion{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.modal-administracion td{
    font-size: 15px;
    margin: 0;
}

/* BOTONES ADMINISTRACION */

.button-administracion{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.button-administracion-editar{
    background:#F0F4F5;
    color: black;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
}

.button-administracion-editar:hover{
    background-color: #0099CC;
    transition: all 0.5s ease;
    color: hsl(0, 0%, 100%);
    box-shadow: #0099CC;
}

.button-administracion-eliminar{
    background:#c82828;
    color:white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    padding: 8px;
}

.button-administracion-eliminar:hover{
    background-color: #85170f;
    transition: all 0.5s ease;
    color: hsl(0, 0%, 100%);
    box-shadow: #85170f;
}

