
/* FORMULARIO Y MENU DE CATEGORIAS */

.filtro-busquedas {
    margin-bottom: 20px;
    text-align: center;
}

.filtro-busqueda input,
select {
    padding: 5px;
    margin: 0 5px;
}

.filtro-busqueda form {
    width: 1200px;
    margin: 10px;
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filtro-busquedas input {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 1;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    margin: 5px;
}

