/* CATALOGO */
.catalogo {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img-banner {

    max-width: 100%;
    height: auto;
    min-height: 200px;  
    object-fit: cover;
}