/* GENERALES */

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
}



