/* GENERALES */

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 75vh;
}




/* BOTONES GENERALES DE LA PAGINA */

.button {
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: #525252;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
    transition: all 0.5s ease;
    color: white;
    margin: 5px;
}

.button:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
}

.button input {
    padding: 17px 40px;
    border-radius: 50px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    margin: 5px;
}
