/* GENERALES */

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

h1 {
    text-align: center;
}

a {
    color: white;
    text-decoration: none;
    margin: 15px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;

}


/* MEDIA QUERY - DISEÑO RESPOSIVE */

/* TABLETAS Y PANTALLAS MEDIANAS */
@media (min-width: 768px) and (max-width: 1368px) {

    /* RESPONSIVE BOTONES */
    .button {
        font-size: 12px;
        letter-spacing: 0px;
        text-align: center;
        padding: 10px 20px;
    }

    /* RESPONSIVE HEADER */
    .header {
        flex-direction: column;
        padding: 5px;
        height: auto;
    }

    .header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* RESPONSIVE FOOTER */
    .footer {
        flex-direction: column-reverse;
        height: auto;
    }

    .footer nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* RESPONSIVE TABLA ADMINISTRACION */

    .button-administracion-editar,
    .button-administracion-eliminar {
        padding: 5px 10px;
        font-size: 12px;
    }

    /* RESPONSIVE TARJETAS */

    .tarjeta {
        width: 220px;
        height: 380px;
        margin: 10px;
    }

    .tarjeta img {
        max-height: 140px;
    }

    .tarjeta h3 {
        font-size: 18px;
    }

    .tarjeta p {
        font-size: 16px;
    }

    .tarjeta span {
        font-size: 16px;
    }

    /* RESPONSIVE FORMULARIO RECOMENDAR */
    .formulario-recomendar form {
        padding: 15px;
        max-width: 90%;
    }

    .formulario-recomendar h2 {
        font-size: 20px;

    }

    .formulario-sugerir label {
        font-size: 14px;
    }

}

/* MOVILES Y PANTALLAS PEQUEÑAS */
@media (max-width: 768px) {

    /* RESPONSIVE BOTONES */
    .button {
        font-size: 8px;
        letter-spacing: 0px;
        text-align: center;
        padding: 10px 20px;
    }

    /* RESPONSIVE HEADER */
    .header {
        flex-direction: column;
        padding: 5px;
        height: auto;
    }

    .header nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* RESPONSIVE FOOTER */
    .footer {
        flex-direction: column-reverse;
        height: auto;
    }

    .footer nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    /* RESPOSIVE LOGOO*/
    .logo {
        margin: 10px 0;
    }

    /* RESPONSIVE FORMULARIO ADMINISTRACION */
    .form-modal-administracion {
        display: flex;
        flex-direction: column;
        margin: 5px;

    }

    .form-modal-administracion label {

        margin: 5px;

    }

    .formulario-sugerir label {
        font-size: 12px;
    }

    /* RESPONSIVE TABLA ADMINISTRACION */
    
    .button-administracion-editar,
    .button-administracion-eliminar {
        padding: 5px 10px;
        font-size: 12px;
    }


    /* RESPONSIVE TARJETAS */
    .tarjeta {
        width: 180px;
        height: 320px;
        margin: 8px;
        padding: 10px 10px 30px 10px;
    }

    .tarjeta img {
        max-height: 110px;
    }

    .tarjeta h3 {
        font-size: 16px;
    }

    .tarjeta p {
        font-size: 14px;
    }

    .tarjeta span {
        font-size: 14px;
    }

    /* RESPONSIVE FORMULARIO RECOMENDAR */
    .formulario-recomendar form {
        padding: 10px;
        max-width: 90%;

    }

    .formulario-recomendar h2 {
        font-size: 15px;

    }

}