/* TARJETAS */

.tarjeta {
    border-radius: 8px;
    padding: 15px 15px 40px 15px;
    margin: 10px 10px 30px 15px;
    width: 280px;
    height: 450px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: top;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.tarjeta img {
    max-height: 240px;
    border-radius: 4px;
}

.tarjeta h3 {
    font-size: 22px;
    margin: 10px 0 5px;
}

.tarjeta p {
    font-size: 18px;
}

.tarjeta span {
    font-size: 18px;
}

/* INDEX Y CATALOGO / TARJETAS */


.catalogo {
    margin: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}